
<p><strong>Name:</strong> <input type="text" id="name-{{ user_id }}" value="{{ user.name }}"></p>
<p><strong>Username:</strong> <input type="text" id="username-{{ user_id }}" value="{{ user.username }}"></p>
<p>
    <strong>Choosable:</strong>
    <input 
        type="checkbox" 
        id="choosable-{{ user_id }}" 
        name="choosable" 
        value="true" 
        {% if user.choosable %}checked{% endif %}
        {% if settings.LOTTERY_ACTIVE %}disabled{% endif %}
    >
</p>
<p>
    <strong>Spouse:</strong>
    {% include 'partials/spouses.html' %}
</p>