
<p>
    <label for="username-{{ user_id }}"><strong>Nazwa użytkownika:</strong></label>
    <input 
        type="text" 
        id="username-{{ user_id }}" 
        name="username" 
        value="{{ user.username | default('') }}" 
        {% if admin %}disabled{% endif %} 
        placeholder="login"
        {% if not admin %}required{% endif %}
    >
    <span id="error" class="error-message"></span>
</p>
<p>
    <label for="name-{{ user_id }}"><strong>Imię i nazwisko:</strong></label>
    <input 
        type="text" 
        id="name-{{ user_id }}" 
        value="{{ user.name }}" 
        {% if admin %}disabled{% endif %} 
        placeholder="Tak będą Cię widzieć inni"
        {% if not admin %}required{% endif %}
    >
</p>
<p>
    <label for="username-{{ user_id }}"><strong>{% if not settings.LOTTERY_ACTIVE %}Czy bierzesz udział w losowaniu?{% elif edit_mode %}Losowanie już trwa, nie można sie teraz wycofać{% else %}Nie można stworzyć konta biorącego udział w losowaniu, kiedy to już trwa{% endif %}:</strong></label>
    <input 
        type="checkbox" 
        id="choosable-{{ user_id }}" 
        name="choosable" 
        value="true" 
        {% if user.choosable or (not edit_mode and not settings.LOTTERY_ACTIVE ) %}checked{% endif %}
        {% if settings.LOTTERY_ACTIVE %}disabled{% endif %}
    >
</p>
<p>
    {% include 'partials/spouses.html' %}
</p>
<p>
    <label for="password-{{ user_id }}"><strong>Hasło:</strong>{% if edit_mode and not admin %}<br>Jeśli nie chcesz go zmieniać, nic nie rób{% endif %}</label>
    <input 
        type="password" 
        id="password-{{ user_id }}" 
        name="password" 
        {% if not admin %}required{% endif %} 
        value="{{ user.password | default('') }}"
    >
</p>
<p>
    <label for="confirm_password-{{ user_id }}"><strong>Potwierdź hasło</strong>{% if edit_mode %}<br>Jeśli nie chcesz go zmieniać, nic nie rób{% endif %}:</label>
    <input type="password" id="confirm_password-{{ user_id }}" name="password" value = "{{ user.password | default('') }}" {% if not admin %}required{% endif %}>
</p>