<table class="wishlist-table" id="reserved-table-{{ user_id }}">
    <tbody>
        {% set just_reserved = [] %}
        {% set reserved_and_bought = [] %}
        {% for item_id in reserved_items %}
            {% set item = items_data[item_id] %}
            {% if item.bought %}
                {% set _ = reserved_and_bought.append(item_id) %}
            {% else %}
                {% set _ = just_reserved.append(item_id) %}
            {% endif %}
        {% endfor %}


        {% for item_id in just_reserved %}
            {% set item = items_data[item_id] %}
            {% include 'partials/reserved_list_item.html' %}
        {% endfor %}
        {% for item_id in reserved_and_bought %}
            {% set item = items_data[item_id] %}
            {% include 'partials/reserved_list_item.html' %}
        {% endfor %}
    </tbody>
</table>
<p id="no-reserved-items" style="display: {% if reserved_items|length == 0 %}block{% else %}none{% endif %};">Brak zarezerwowanych przedmiotów</p>
