<tr class="reserved-item 
    {% if item.bought %}
        reserved-green
    {% endif %}" 
    data-item-id="{{ item_id }}">
    <td>
        {% include 'partials/wishlist_item.html' %}
        <span class="item-owner">{{ users_data[item.owner_id].name }}</span>
    </td>
    <td>
        <span id = 'reserved-table-{{ item_id }}-accept' class="{% if item.bought %}edit-icon{% else %}remove-icon{% endif %}" onclick="unreserveItem(event, '{{ item_id }}')">×</span>
    </td>
    <td>
        <span class="edit-icon" onclick="toggleBought(event, '{{ item_id }}', '{{ user_id }}')">💲</span>
    </td>
</tr>