<label for="spouse-{{ user_id }}"><strong>Małżonek:</strong><br>Jeśli Twojego nie ma na liście, pozostaw to pole puste</label>
<select name="spouse" id="spouse-{{ user_id }}" {% if settings.LOTTERY_ACTIVE %}disabled{% endif %}>
    <option value="None" {% if user.spouse is none %}selected{% endif %}>Brak</option>
    {% for spouse_id in users_data %}
        {% set spouse = users_data[spouse_id] %}
        {% if spouse_id != user.user_ID and (spouse.spouse is none or spouse_id == user.spouse) %}
            <option value="{{ spouse_id }}"
            {% if spouse_id == user.spouse %}selected{% endif %}>
                {{ spouse.name }}{% if admin %} - {{ spouse_id }}{% endif %}
            </option>
        {% endif %}
    {% endfor %}
</select>