<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <style>
        .lottery-btn {
            padding: 10px 20px;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        .lottery-enabled {
            background-color: green;
        }
        .lottery-disabled {
            background-color: rgb(255, 166, 0);
        }
    </style>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <div class="admin-dashboard">
        <h2>Admin Dashboard</h2>
    
        <div class="settings">
            <h3>Settings</h3>
            <div class="lottery-status">
                <!-- <p>LOTTERY_ACTIVE:</p> -->
                <button id="lottery-toggle-btn"
                    class="lottery-btn {{ 'lottery-enabled' if settings.LOTTERY_ACTIVE else 'lottery-disabled' }}"
                    onclick="toggleLotteryActive(event)">
                    {{ 'Lottery enabled' if settings.LOTTERY_ACTIVE else 'Lottery disabled' }}
                </button>
                <p id="lottery-status">
                    Current status: {{ 'Enabled' if settings.LOTTERY_ACTIVE else 'Disabled' }}
                </p>
            </div>
        </div>

        <div class="users-section">
            <p><strong>User list</strong></p>
            <button class="collapsible main-collapsible">Show</button>
            <div class="users-list content">
                <ul>
                    {% for user_id in users_data %}
                        {% set user = users_data[user_id] %}
                        <li class="user-item">
                            <div class="user-header">
                                <span class="user-text">{{ user.name }} ({{ user.username }})</span>
                                <button class="collapsible user-collapsible">+</button>
                            </div>
                            <div class="content user-content"><p><strong>ID:</strong> {{ user_id }}</p>
                                <p>
                                    <strong>Assignment:</strong></strong>

                                    <!-- Assignment Display -->
                                    <p id="assignment-{{ user_id }}">
                                        {{ user.assignment }}
                                        {% if user.assignment is not none %}
                                            -> {{ users_data[user.assignment].name }}
                                        {% endif %}
                                    </p>      

                                    <!-- Draw Form -->
                                    <form id="draw-form-{{ user_id }}" method="post" action="{{ url_for('draw.draw_assignment', user_id=user_id) }}">
                                        <button type="button" onclick="submitDrawForm({{ user_id }})">Draw</button>
                                    </form>            
                                </p>
                                <form method="post" action="{{ url_for('admin.update_user', user_id=user_id) }}">
                                    <p><strong>Name:</strong> {{ user.name }}</p>
                                    <p><strong>Username:</strong> {{ user.username }}</p>
                                    <p><strong>Password:</strong> {{ user.password }}</p>
                                    <p>
                                        <strong>Choosable:</strong>
                                        <input 
                                            type="checkbox" 
                                            id="choosable-{{ user_id }}" 
                                            name="choosable" 
                                            value="true" 
                                            {% if user.choosable %}checked{% endif %} 
                                            {% if settings.LOTTERY_ACTIVE %}disabled{% endif %}
                                        >
                                    </p>
                                    <p>
                                        <strong>Spouse:</strong></strong>
                                        <select name="spouse" id="spouse" {% if settings.LOTTERY_ACTIVE %}disabled{% endif %}>
                                            <option value="None" {% if user.spouse is none %}selected{% endif %}>None</option>
                                            {% if user.spouse is not none %}
                                                <option value="{{ user.spouse }}" selected>
                                                    {{ users_data[user.spouse].name }} - {{ user.spouse }}
                                                </option>
                                            {% endif %}
                                            {% for spouse_id in available_spouses %}
                                                {% if spouse_id != user_id %}
                                                    {% set spouse = users_data[spouse_id] %}
                                                    <option value="{{ spouse.id }}" 
                                                        {% if user.spouse == spouse.id %}selected{% endif %}>
                                                        {{ spouse.name }} - {{ spouse.user_ID }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p>
                                        <strong>Wishlist:</strong>
                                        <table class="wishlist-table" id="wishlist-table">
                                            <tbody>
                                                {% for item_id in users_data[user_id].wishlist %}
                                                    {% set item = items_data[item_id] %}
                                                    <tr data-item-id="{{ item_id }}">
                                                        <td>
                                                            <span class="item-name">{{ item.item_name }}</span>
                                                            <span class="item-description">{{ item.item_description }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="edit-icon" 
                                                                  onclick="editItem(event, '{{ item_id }}', '{{ item.item_name|escape }}', '{{ item.item_description|escape }}')">✎</span>
                                                        </td>
                                                        <td>
                                                            <span class="remove-icon" 
                                                                  onclick="removeItem(event, {{ item_id }})">×</span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <p id="no-items" style="display: none;">No items in the wishlist.</p>
                                    </p>
                                    <p>
                                        <strong>Reserved Items:</strong>
                                        <table class="wishlist-table" id="reserved-table">
                                            <tbody>
                                                {% for item_id in users_data[user_id].reserved_items %}
                                                    {% set item = items_data[item_id] %}
                                                    <tr class="reserved-item {% if item.bought %}reserved-green{% endif %}" data-item-id="{{ item_id }}">
                                                        <td>
                                                            <span class="item-name">{{ item.item_name }}</span>
                                                            <span class="item-description">{{ item.item_description }}</span>
                                                            <span class="item-owner">{{ item.owner_name }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="edit_icon" onclick="unreserveItem(event, '{{ item_id }}')">×</span>
                                                        </td>
                                                        <td>
                                                            <span class="edit-icon" onclick="markItemBought(event, '{{ item_id }}')">💲</span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <p id="no-reserved-items" style="display: {% if users_data[user_id].reserved_items|length == 0 %}block{% else %}none{% endif %};">No reserved items available.</p>
                                    </p>
                                    
                                    <p>
                                        <strong>Admin:</strong></strong>
                                        <input 
                                            type="checkbox" 
                                            id="admin-{{ user_id }}" 
                                            name="admin" 
                                            value="true" 
                                            {% if user.admin %}checked{% endif %}
                                        >
                                    </p>
                                    <p>
                                        <strong>Visible:</strong></strong>
                                        <input 
                                            type="checkbox" 
                                            id="visible-{{ user_id }}" 
                                            name="visible" 
                                            value="true" 
                                            {% if user.visible %}checked{% endif %} 
                                            {% if settings.LOTTERY_ACTIVE %}disabled{% endif %}
                                        >
                                    </p>
                                    <button type="submit">Save</button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="section">
            <a href="{{ url_for('auth.logout') }}" class="dashboard-link logout">Log out</a>
        </div>
    </div>
</body>
</html>
