<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'Edycja danych użytkownika' if edit_mode else 'Rejestracja' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <div class="register-container">
        <h2>{{ 'Edycja danych użytkownika' if user else 'Rejestracja' }}</h2>
        <form action="{{ url_for('user.edit_user' if edit_mode else 'auth.register') }}" method="POST">
            <!-- Username field -->
            <!-- Spouse dropdown -->
             
            {# {% if settings.LOTTERY_ACTIVE %}
                <label for="spouse">W trakcie trwania losowania{% if not edit_mode %} nie można wybrać małżonka{% else %} nie można zmienić/wybrać małżonka{% endif %}:</label>
            {% else %}
                <label for="spouse">Małżonek{% if not edit_mode %} (jeśli nie widzisz swojego, nie martw się, pewnie jeszcze nie stworzył konta){% endif %}</label>
            {% endif %}       #}
            
            {% set user_spouse = none %}
            {% include 'partials/basic_user_changes.html' %}
        
            <label for="confirm_password-{{ user_id }}"><strong>Potwierdź hasło<>{% if edit_mode %} (może pozostać puste){% endif %}:</label>
            <input type="password" id="confirm_password" name="confirm_password">

            {% if error_message_password %}
            <p class="error-message">{{ error_message_password }}</p>
            {% endif %}

            <button type="submit">{{ 'Zapisz zmiany' if edit_mode else 'Zarejestruj' }}</button>
        </form>
        
        {% if edit_mode %}
            <a href="{{ url_for('dashboard.dashboard') }}" class="return-link">Wróć do panelu</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="return-link">Wróć do logowania</a>
        {% endif %}
    </div>
    <script>
        function validatePasswords() {
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirm_password").value;

            if (password && password !== confirmPassword) {
                document.getElementById("error").textContent = "Hasła nie są identyczne. Spróbuj ponownie.";
                return false; // Prevent form submission
            }
            return true;
        }
    </script>
</body>
</html>
