<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Użytkowników</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <div class="dashboard-container-user-list">
        
        <h2>Lista Użytkowników</h2>
        <div class="bottom-tab">
            <a href="{{ url_for('dashboard.dashboard') }}" class="dashboard-link-static">Powrót do Panelu</a>
        </div>

        <div class="section">
            {% for assignment in users %}
                {% if (assignment.user_ID != user_id) and (assignment.user_ID != user_spouse) %}
                    <div class="user-wishlist-section {% if loop.index == 1 %}highlighted-user{% endif %}">
                        <h3>{{ assignment.name }}</h3>
                        {% if assignment.wishlist %}
                            {% include 'partials/wishlist.html' %}
                        {% else %}
                            <p>Nic tu jeszcze nie ma</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
