<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weryfikacja hasła</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    </head>
    <body>
        <div class="verify-password-container">
            <h2>Potwierdzenie hasła</h2>
            <p>Wprowadź swoje hasło, aby przejść do edycji danych.</p>

            <form action="{{ url_for('auth.verify_password') }}" method="POST">
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Potwierdź</button>
            </form>
            
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
        <a href="{{ url_for('dashboard.dashboard') }}" class="return-link">Wróć do panelu</a>
        </div>
    </body>
</html>
